<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>

    <title>NSN 3G Traffic</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
	<script src="{% static 'js/jquery.min.js' %}"></script>

</head>

<body>

		<div class = container style = "width:1150px;">

			<h2 align="center">NSN 3G Traffic</h2>

				<form method = "post" action = 'details' >
					{% csrf_token %}
				From Date  <input type = date  value="2019-10-01" name = "from_date" id = "from_date" /> &nbsp
				To Date  <input type = date  value="2019-10-15" name = "to_date" id = "to_date" /> &nbsp
				<input type = "submit" value = "Get Data" class="button">
				<br/> <br/>

				Search BTS <input type = text id = "myInput">

				</form>

				 <h4 style = "letter-spacing: 3px;text-align: center;color: green;border: 2px solid green;border-radius: 7px;">KPI Benchmarks => [TCH < 2%]___[AFR < 3%]___[DCR < 2%]___[CSSR > 95%]___[HOSR > 95%]  </h4>
                <div id="nsn_table">
                     <table class="mytable">
						<thead>
                          <tr>
                               <th><a class="column_sort" id="DATE" data-order="desc" href="#">DATE</a></th>
							   <th><a class="column_sort" id="WCEL_name" data-order="desc" href="#">BTS NAME</a></th>
							   <th><a class="column_sort" id="RAB_setup_completed_for_CS_Voice_calls" data-order="desc" href="#">CALLS</a></th>
							   <th><a class="column_sort" id="Voice_DCR" data-order="desc" href="#">VOICE DCR</a></th>
							  <th><a class="column_sort" id="CSSR" data-order="desc" href="#">CSSR</a></th>
							   <th><a class="column_sort" id="HSDPA_CALL_DROP" data-order="desc" href="#">HSDPA DROPS</a></th>
								<th><a class="column_sort" id="HSUPA_CALL_DROP" data-order="desc" href="#">HSUPA DROPS</a></th>
							  <th><a class="column_sort" id="HSDPA_Payload_MB" data-order="desc" href="#">DOWNLOAD (GB)</a></th>
								<th><a class="column_sort" id="HSUPA_Datapayload_MB" data-order="desc" href="#">UPLOAD (GB)</a></th>




                          </tr>

					{% if result %}

						  {% for each in result %}

                         				<tbody id = "myTable">
										<tr>
										<td><center>{{ each.DATE }}</center></td>
									   <td>{{ each.WCEL_name }}</td>
									   <td><center>{{ each.RAB_setup_completed_for_CS_Voice_calls }}</center></td>
									   <td><center>{{ each.Voice_DCR }}</center></td>
									   <td><center>{{ each.CSSR }}</center></td>
									   <td><center>{{ each.HSDPA_CALL_DROP }}</center></td>
									   <td><center>{{ each.HSUPA_CALL_DROP }}</center></td>
										<td><center>{{ each.HSDPA_Payload_MB }}</center></td>
									   <td><center>{{ each.HSUPA_Datapayload_MB }}</center></td>
										</tr>

						 {% endfor %}


						</table>


					{% else %}

					<h3> No Data Found For Given Dates ! </h3>

					{% endif %}





                </div>
           </div>


<script>
 $(document).ready(function(){



      $(document).on('click','.column_sort',function(){
		   var from_date = $('#from_date').val();
           var to_date = $('#to_date').val();
           var column_name = $(this).attr("id");
           var order = $(this).data("order");
           var arrow = '';
           //glyphicon glyphicon-arrow-up
           //glyphicon glyphicon-arrow-down
           if(order == 'desc')
           {
                arrow = '&nbsp;<span class="glyphicon glyphicon-arrow-down"></span>';
           }
           else
           {
                arrow = '&nbsp;<span class="glyphicon glyphicon-arrow-up"></span>';
           }
           $.ajax({
                url:"nsn3g_ajax.php",
                method:"POST",
                data:{column_name:column_name, order:order, from_date:from_date, to_date:to_date },
                success:function(data)
                {
                     $('#nsn_table').html(data);
                     $('#'+column_name+'').append(arrow);
                }
           })
      });
 });

$(document).ready(function()
									{
										$("#myInput").on("keyup", function()
											{
												var value = $(this).val().toLowerCase();
												$("#myTable tr").filter(function()
													{
														$(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
													});
											});
									});

  $(document).ready(function () {

  $("#myTable td:nth-child(3)").each(function () {
      if (parseFloat($(this).text(), 10) < 100 ) {
          $(this).css("background-color", "red");
      }
  });

    $("#myTable td:nth-child(4)").each(function () {
        if (parseFloat($(this).text(), 10) > 2 ) {
            $(this).css("background-color", "red");
        }
    });


    $("#myTable td:nth-child(5)").each(function () {
        if (parseFloat($(this).text(), 10) < 95 ) {
            $(this).css("background-color", "red");
        }
    });

    $("#myTable td:nth-child(6)").each(function () {
        if (parseFloat($(this).text(), 10) > 200 ) {
            $(this).css("background-color", "red");
        }
    });

    $("#myTable td:nth-child(7)").each(function () {
        if (parseFloat($(this).text(), 10) > 200 ) {
            $(this).css("background-color", "red");
        }
    });

    $("#myTable td:nth-child(8)").each(function () {
        if (parseFloat($(this).text(), 10) == 0 ) {
            $(this).css("background-color", "red");
        }
    });

    $("#myTable td:nth-child(9)").each(function () {
        if (parseFloat($(this).text(), 10) == 0 ) {
            $(this).css("background-color", "red");
        }
    });











  });





 </script>

 </body>
 </html>

