<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <title>Cell Sites</title>
      <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
   </head>
   
   <body>
   
   <div class = "container" style = "width:900px;">
         <h2><b>Chittoor SSA Cell Sites :</b></h2>
         <table class="mytable">
            <th>
               <center>SL.NO</center>
            </th>
            <th>
               <center>SDCA</center>
            </th>
            <th>
               <center>2G BTS</center>
            </th>
            <th>
               <center>3G BTS</center>
            </th>
            <th>
               <center>TOTAL</center>
            </th>
            <th>
               <center>CONNECTIVITY</center>
            </th>
            <tr>
               <td>
                  <b>
                     <center>1
                  </b>
                  </center>
               </td>
               <td><b>B.KOTHAKOTA</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/bkk2g.pdf' %}" target="_blank">9</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/bkk3g.pdf' %}" target="_blank">1</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>10
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>2
                  </b>
                  </center>
               </td>
               <td><b>BANGARUPALEM</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/bgp2g.pdf' %}" target="_blank">13</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/bgp3g.pdf' %}" target="_blank">5</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>18
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>3
                  </b>
                  </center>
               </td>
               <td><b>CHANDRAGIRI</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/cdr2g.pdf' %}" target="_blank">81</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/cdr3g.pdf' %}" target="_blank">74</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>155
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>4
                  </b>
                  </center>
               </td>
               <td><b>CHITTOOR (U)</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/ctru2g.pdf' %}" target="_blank">26</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/ctru3g.pdf' %}" target="_blank">26</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>52
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>4
                  </b>
                  </center>
               </td>
               <td><b>CHITTOOR (R)</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/ctrr2g.pdf' %}" target="_blank">26</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/ctrr3g.pdf' %}" target="_blank">14</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>40
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>5
                  </b>
                  </center>
               </td>
               <td><b>KUPPAM</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/kup2g.pdf' %}" target="_blank">14</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/kup3g.pdf' %}" target="_blank">8</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>22
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>6
                  </b>
                  </center>
               </td>
               <td><b>MADANAPALLI</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/mdp2g.pdf' %}" target="_blank">44</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/mdp3g.pdf' %}" target="_blank">24</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>68
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>7
                  </b>
                  </center>
               </td>
               <td><b>PAKALA</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/pak2g.pdf' %}" target="_blank">14</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/pak3g.pdf' %}" target="_blank">9</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>23
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center><a href="{% static 'files/pak_nw.jpg' %}" target="_blank">PAK NETWORK</center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>8
                  </b>
                  </center>
               </td>
               <td><b>PALAMANER</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/pmn2g.pdf' %}" target="_blank">17</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/pmn3g.pdf' %}" target="_blank">5</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>22
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>9
                  </b>
                  </center>
               </td>
               <td><b>PILER</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/plr2g.pdf' %}" target="_blank">28</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/plr3g.pdf' %}" target="_blank">10</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>38
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>10
                  </b>
                  </center>
               </td>
               <td><b>PUNGANUR</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/pgr2g.pdf' %}" target="_blank">18</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/pgr3g.pdf' %}" target="_blank">8</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>26
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>11
                  </b>
                  </center>
               </td>
               <td><b>PUTTUR</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/put2g.pdf' %}" target="_blank">37</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/put3g.pdf' %}" target="_blank">14</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>51
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center><a href="{% static 'files/put_nw.jpg' %}" target="_blank">PUT NETWORK</center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>12
                  </b>
                  </center>
               </td>
               <td><b>SATHYAVEDU</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/stv2g.pdf' %}" target="_blank">18</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/stv3g.pdf' %}" target="_blank">8</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>26
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center><a href="{% static 'files/stv_nw.jpg' %}" target="_blank">STV NETWORK</center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>13
                  </b>
                  </center>
               </td>
               <td><b>SODAM</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/sod2g.pdf' %}" target="_blank">2</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/sod3g.pdf' %}" target="_blank">1</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>3
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>14
                  </b>
                  </center>
               </td>
               <td><b>SRIKALAHASTI</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/skht2g.pdf' %}" target="_blank">24</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/skht3g.pdf' %}" target="_blank">14</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>38
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center><a href="{% static 'files/skht_nw.jpg' %}" target="_blank">SKHT NETWORK</center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>15
                  </b>
                  </center>
               </td>
               <td><b>VAYALPADU</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/vyp2g.pdf' %}" target="_blank">17</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/vyp3g.pdf' %}" target="_blank">6</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>23
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>16
                  </b>
                  </center>
               </td>
               <td><b>V.KOTA</b></td>
               <td>
                  <b>
                     <center><a href="{% static 'files/vkota2g.pdf' %}" target="_blank">5</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center><a href="{% static 'files/vkota3g.pdf' %}" target="_blank">2</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>7
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center> </center>
                  </b>
               </td>
               </a>
            </tr>

         </table>


         <h2><b>Make Wise :</b></h2>
         <table class="mytable">
            <th>
               <center>SL.NO</center>
            </th>
            <th>
               <center>MAKE</center>
            </th>
            <th>
               <center>2G BTS</center>
            </th>
            <th>
               <center>3G BTS</center>
            </th>
            <th>
               <center>TOTAL</center>
            </th>
            <tr>
               <td>
                  <b>
                     <center>1
                  </b>
                  </center>
               </td>
			   <td><b><center>NSN</center></b></td>
               <td>
                  <b>
                     <center>205</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>131</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>336
                  </b>
                  </center>
               </td>
            </tr>
				<tr>
				<td>
                  <b>
                     <center>2
                  </b>
                  </center>
               </td>
               <td><b><center>NORTAL</center></b></td>
               <td>
                  <b>
                     <center>173</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>0</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>173
                  </b>
                  </center>
               </td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>3
                  </b>
                  </center>
               </td>
               <td><b><center>ZTE</center></b></td>
               <td>
                  <b>
                     <center>12</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>74</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>86
                  </b>
                  </center>
               </td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>4
                  </b>
                  </center>
               </td>
               <td><b><center>HUAWEI</center></b></td>
               <td>
                  <b>
                     <center>0</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>36</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>36
                  </b>
                  </center>
               </td>
            </tr>
            <tr>
               <td colspan="2">
                  <b>
                     <center>TOTAL
                  </b>
                  </center>
               </td>
               <td>
                  <b>
                     <center>390</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>241</center>
                  </b>
               </td>
               </a>
               <td>
                  <b>
                     <center>631
                  </b>
                  </center>
               </td>
            </tr>
         </table>
      </div>
   </body>
</html>