{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>CMM TIRUPATI</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.min.js' %}"></script>
      <style> 
         .footer {
         position: fixed;
         left: 0;
         bottom: 0;
         height:25px;
         width: 100%;
         background-color: #ffbf00;
         color: black;
         text-align: center;
         }
         .container {
         padding: 50px ;
         }							
         .carousel-caption h3 {
         color: #fff !important;
         }
         /* Make the image fully responsive */
         .carousel-inner img {
         width: 100%;
         height: auto;
         }
         .dropdown-menu a:hover{
         background-color: #ffbf00;)
      </style>
   </head>
   <body>
      <nav class="navbar navbar-expand-sm bg-warning navbar-light ">
         <!-- Brand -->
         <a class="navbar-brand" href="/"><img src="{% static 'images/bsnl_logo.jpg'%}" alt="BSNL" style="width:40px;"></a>
         <!-- Links -->
         <ul class="navbar-nav navbar-right">
            <li class="nav-item">
               <a class="nav-link" href="/"><b>HOME</b></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/cell_sites" target="_blank"><b>CELL SITES</b></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/sites_down" target="_blank"><b>SITES DOWN</b></a>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><b>
               INTERRUPTION ANALYSIS
               </b></a>
               <div class="dropdown-menu">

                  <a class="dropdown-item" href="/2g&3g_analysis" target="_blank">2G & 3G BTS</a>
                  <a class="dropdown-item" href="/dt_history" target="_blank">DT HISTORY</a>
                  <a class="dropdown-item" href="/repeat_faults" target="_blank">REPEAT FAULTS</a>

               </div>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><b>
               TRAFFIC
               </b></a>
               <div class="dropdown-menu">
			      {% comment %} <a class="dropdown-item" href="/nsn2g_traffic" target="_blank">NSN 2G</a> {% endcomment %}
               <a class="dropdown-item" href="/nsn3g_traffic" target="_blank">NSN 3G</a>
				  {% comment %} <a class="dropdown-item" href="/zte2g_traffic" target="_blank">ZTE 2G </a> {% endcomment %}
				  <a class="dropdown-item" href="/zte3g_traffic" target="_blank">ZTE 3G </a>
				  {% comment %} <a class="dropdown-item" href="/hw3g_traffic" target="_blank">HUAWEI 3G</a> {% endcomment %}
				  {% comment %} <a class="dropdown-item" href="/nt2g_traffic" target="_blank">NORTEL 2G</a> {% endcomment %}
                  
				  
                  
				       
                </div>
            </li>
            <!-- Dropdown -->
            <li class="nav-item dropdown">
               <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"><b>
               LINKS
               </b></a>
               <div class="dropdown-menu">
                  <a class="dropdown-item" href="http://10.31.241.176/omcr/index.php" target="_blank">OMCR AP & TS</a>
                  <a class="dropdown-item" href="http://10.33.69.98/" target="_blank">NSN BTS</a>
                  <a class="dropdown-item" href="http://10.34.5.241/" target="_blank">CELLONE (O&I)</a>
               </div>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/contacts" target="_blank"><b>CONTACT US</b></a>
            </li>
         </ul>
      </nav>
      <br>
      <div class="container">
         <h2>Welcome to</h2>
         <h3>Cellone Operations & Maintenance</h3>
      </div>
      <div id="mycarousel" class="carousel slide" data-ride="carousel">
         <div class="carousel-inner">
            <div class="carousel-item active">
               <img src="{% static 'images/01bsnl.jpg'%}" alt="01bsnl">
               <div class="carousel-caption">
                  <h3>A Govt. of India Enterprise</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/02entrance.jpg'%}" alt="02entrance">
               <div class="carousel-caption">
                  <h3>BSNL Tirupati</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/03csc.jpg'%}" alt="03csc">
               <div class="carousel-caption">
                  <h3>CSC Tirupati</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/04uso.jpg'%}" alt="04uso">
               <div class="carousel-caption">
                  <h3>BSNL</h3>
                  <p>Cell Tower</p>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/05antenna.jpg'%}" alt="05antenna">
               <div class="carousel-caption">
                  <h3>Antennas</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/06antennaclose.jpg'%}" alt="06antennaclose">
               <div class="carousel-caption">
                  <h3>Antenna Feeders</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/07cable.jpg'%}" alt="07cable">
               <div class="carousel-caption">
                  <h3>Cable Connections</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/08cow.jpg'%}" alt="08cow">
               <div class="carousel-caption">
                  <h3>Cell Tower on Wheels</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/09vswr.jpg'%}" alt="09vswr">
               <div class="carousel-caption">
                  <h3>VSWR Meter</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/10power.jpg'%}" alt="10power">
               <div class="carousel-caption">
                  <h3>Power Meter</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/11ntbts.jpg'%}" alt="11ntbts">
               <div class="carousel-caption">
                  <h3>Nortal BTS</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/12hw.jpg'%}" alt="12hw">
               <div class="carousel-caption">
                  <h3>Huawei BTS</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/13hwbts.jpg'%}" alt="13hwbts">
               <div class="carousel-caption">
                  <h3>Huawei BTS</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/14zte.jpg'%}" alt="14zte">
               <div class="carousel-caption">
                  <h3>Zte BTS</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/15ztebts.jpg'%}" alt="15ztebts">
               <div class="carousel-caption">
                  <h3>Zte BTS</h3>
               </div>
            </div>
            <div class="carousel-item">
               <img src="{% static 'images/16ztetuda.jpg'%}" alt="16ztetuda">
               <div class="carousel-caption">
                  <h3>Zte OD BTS</h3>
               </div>
            </div>
         </div>
         <a class="carousel-control-prev" href="#mycarousel" data-slide="prev">
         <span class="carousel-control-prev-icon"></span>
         </a>
         <a class="carousel-control-next" href="#mycarousel" data-slide="next">
         <span class="carousel-control-next-icon"></span>
         </a>
      </div>
      <div class="footer">
         <p>Developed by M.Veera Raghava JTO BSNL Tirupati.</p>
      </div>
   </body>
</html>