<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
   <head>
      <title>CMM Contacts</title>
      <meta charset="UTF-8"> <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
   </head>
   <body>
      <div class="container" style="width:900px;">
         <h2><b>CMM Tirupati Staff :</b></h2>
         <table class="mytable">
            <tr>
               <th>Sl.No</th>
               <th>Name</th>
               <th>Designation</th>
               <th>Mobile No</th>
               <th>Mail ID</th>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>1</center>
                  </b>
               </td>
               <td><b>P. Sudheer Kumar</b></td>
               <td>SDE (CMM) TRP</td>
               <td>9440000932</td>
               <td>sdecmmtpt@gmail.com</td>
            </tr>
            
            <tr>
               <td>
                  <b>
                     <center>2</center>
                  </b>
               </td>
               <td><b>C. Ramesh Babu</b></td>
               <td>JTO (CMM) TRP </td>
               <td>9440407187</td>
               <td>rameshbsnl08042002@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>3</center>
                  </b>
               </td>
               <td><b>S. Venkatesulu</b></td>
               <td>JE (CMM) TRP</td>
               <td>7382608488</td>
               <td>venky.bsnl1962@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>4</center>
                  </b>
               </td>
               <td><b>B. Chandra Sekhar</b></td>
               <td>JE (CMM) TRP</td>
               <td>8333935837</td>
               <td>chandu.yuvy201400765@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>5</center>
                  </b>
               </td>
               <td><b>K. Tirumalaiah</b></td>
               <td>JE (CMM) PUT</td>
               <td>8500826217</td>
               <td>tirumalaiahkr@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>6</center>
                  </b>
               </td>
               <td><b>B. Raghunadha Naidu</b></td>
               <td>JE (CMM) PAK</td>
               <td>9440406857</td>
               <td>bollineniraghu1@gmail.com</td>
            </tr>
         </table>
         <h2><b>CMM Chittoor Staff :</b></h2>
         <table class="mytable">
            <tr>
               <th>Sl.No</th>
               <th>Name</th>
               <th>Designation</th>
               <th>Mobile No</th>
               <th>Mail ID</th>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>1</center>
                  </b>
               </td>
               <td><b>V. Ramaswamy</b></td>
               <td>JTO (CMM) CTR</td>
               <td>9419020203</td>
               <td>ramaswamy.464@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>2</center>
                  </b>
               </td>
               <td><b>M. Srinivasulu</b></td>
               <td>JTO (CMM) MDP</td>
               <td>9490446404</td>
               <td>sreenuaug@gmail.com</td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>3</center>
                  </b>
               </td>
               <td><b>CH. Sreenivasa Rao</b> </td>
               <td>JE (CMM) CTR</td>
               <td>9440692279</td>
               <td></td>
            </tr>
            <tr>
               <td>
                  <b>
                     <center>4</center>
                  </b>
               </td>
               <td><b>E. Babu Naidu</b></td>
               <td>JE (CMM) PLMN</td>
               <td>9440407566</td>
               <td></td>
            </tr>
         </table>
      </div>
   </body>
</html>
